<div class="header-padding" style="margin-left: 30px">
    <h1 align="center">Welcome to Service Learning</h1>

    <h3 align="center" style="color: #e21a2d">APPLICATIONS FOR SPRING 2018 WILL BE AVAILABLE IN LATE OCTOBER/EARLY NOVEMBER.
        WE ARE NO LONGER ACCEPTING APPLICATIONS FOR FALL 2017</h3>

    <p>Please email us at service-learning@northeastern.edu if:
        <ul>
            <li><p>you would like to be added to our email list</p></li>
            <li><p>you have any questions about the partnership process or</p></li>
            <li><p>you would like to set up a conversation to talk about a potential partnership interest outside of the RFP timeline</p></li>
        </ul>
    </p>

</div>
