<div>

    <h3 align="center"><b>Organization info</b></h3>

        <form>

            <div class="form-group">
                <label for="orgName">Name</label>
                <input type="input" class="form-control" id="orgName" placeholder="Test organization">
            </div>

            <div class="form-group">
                <label for="orgAddress">Address</label>
                <input type="input" class="form-control" id="orgAddress" placeholder="360 Huntington Avenue, Boston, MA, United States">
            </div>

            <div class="form-group">
                <label for="orgWebsite">Website</label>
                <input type="input" class="form-control" id="orgWebsite" placeholder="http://www.northeastern.edu">
            </div>

            <div class="form-group">
                <label for="orgMission">Mission</label>
                <textarea class="form-control" id="orgMission" rows="6"></textarea>
            </div>

            <div align="center">
                <button type="button" class="btn redBG btn-danger">Save</button>
            </div>
        </form>
</div>
