<div class="header-padding" ng-controller="PasswordChangeController as model">

    <form class="form-signin">

        <h6 style="color: #e21a2d;font-weight:bold;padding-left:5px">{{model.message}}</h6>
        <h2 class="form-signin-heading" style="color:#e21a2d">Change Password</h2>

        <input type="text" ng-model="model.user.username" class="form-control" name="username" placeholder="UserName" required=""
               disabled="true" autofocus="" />
        <input type="password" ng-model="model.user.password" class="form-control" name="password" placeholder="Current Password" required/>
        <input type="password" ng-model="model.user.passwordNew" class="form-control" name="passwordNew" placeholder="New Password" required/>
        <input type="password" ng-model="model.user.passwordRe" class="form-control" name="passwordRe" placeholder="Retype Password" required/>
        <button ng-click="model.changePassword(model.user)" type="submit" class="btn redBG btn-danger btn-block">Change Password</button>
    </form>

</div>