<div class="header-padding">
    <form class="form-signin">

        <h2 class="form-signin-heading" style="color:#e21a2d">Create an account</h2>

        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <input type="password" class="form-control" name="password" placeholder="Confirm Password" required=""/>


        <div class="btn-group radiobutton"  data-toggle="buttons">
            <!--<label class="btn btn-secondary active">-->
                <input class="rdright" value="1" ng-model="myradio"  type="radio" name="options" id="option1" autocomplete="off"> Faculty &nbsp;&nbsp;
            <!--</label>-->
            <!--<label class="btn btn-secondary">-->
                <input class="rdright" value="2" ng-model="myradio" type="radio" name="options" id="option2" autocomplete="off" > Partner &nbsp;&nbsp;
            <!--</label>-->
            <!--<label class="btn btn-secondary">-->
                <input class="rdright" value="3" ng-model="myradio" type="radio" name="options" id="option3" autocomplete="off"> Admin
            <!--</label>-->
            <!--{{myradio}}-->
        </div>


        <a ng-click="model.register(myradio)" class="btn redBG btn-danger btn-block">Register</a>

    </form>

</div>