<div class="header-padding">
    <form class="form-signin">

        <h2 class="form-signin-heading" style="color:#e21a2d">Create an account</h2>

        <div ng-show="model.message" class="alert alert-danger width-class" role="alert">{{model.message}}</div>

        <ul class="nav nav-tabs">
            <li class="active">
                <a href data-target="#partnerInfo" data-toggle="tab">Partner</a>
            </li>

            <li>
                <a href data-target="#facultyInfo" data-toggle="tab">Faculty</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="partnerInfo">

                <div class="form-group" style="padding-top: 20px">
                    <select class="form-control" ng-model="model.partner.orgId">
                        <option value="" disabled selected>Please select your Organization</option>
                        <option value="0">Service-Learning</option>
                        <option ng-repeat="org in model.OrgsInfo" value="{{org._id}}">{{org.name}}</option>
                    </select>
                </div>

                <h5 style="padding-top: 5px;padding-bottom: 5px">Don't see your organization? <a href="#/newOrg">Create</a></h5>

                <input type="text" class="form-control" placeholder="FirstName" ng-model="model.partner.firstName" required="" autofocus="" />
                <input type="text" class="form-control" placeholder="LastName" ng-model="model.partner.lastName" required="" autofocus="" />

                <input type="text" class="form-control" placeholder="Email Address" ng-model="model.partner.username" required="" autofocus="" />
                <input type="password" class="form-control" name="Password" placeholder="Password" ng-model="model.partner.password" required=""/>

                <a ng-click="model.registerPartner(model.partner)" class="btn redBG btn-danger btn-block">Register</a>

            </div>

            <div class="tab-pane" id="facultyInfo">

                <div style="padding-top: 20px">
                    <input type="text" class="form-control" name="firstname" placeholder="FirstName" ng-model="model.faculty.firstName" required="" autofocus="" />
                    <input type="text" class="form-control" name="lastname" placeholder="LastName" ng-model="model.faculty.lastName" required="" autofocus="" />
                    <input type="text" class="form-control" name="username" placeholder="Email Address" ng-model="model.faculty.username" required="" autofocus="" />
                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="model.faculty.password" required=""/>

                    <a ng-click="model.registerFaculty(model.faculty)" class="btn redBG btn-danger btn-block">Register</a>
                </div>

            </div>
        </div>

    </form>

</div>