.navbar-inverse {
    background-color: #e21a2d;
    border-color: #e21a2d;
}
.navbar-inverse .navbar-brand{
    color: #ffffff;
    font-weight: bolder;
    font-size:20px;
}
.text-nowrap{
    white-space: nowrap; !important;
}
body{
    background: #e9e9e9;
}
/*****************Login styling***********************************/
.login-padding{
    margin-top: 100px;
}

.form-signin {
    max-width: 350px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input {
    margin-bottom: 20px;
    border-radius: 7px;
}

.radiobutton{
    margin-bottom: 20px;
}

.rdright{
    margin-right: 4px;
}
.adlist1{
    text-align: center;
}

.right-line{
    height: 90vh;
    border-right: 1px solid lightgrey;
    margin-top: -12px;
    padding-top: 10px;
}

/*******************************************