.text-nowrap{
    white-space: nowrap; !important;
}

body{
    background: #e9e9e9;
}

.redBG{
    background-color: #e21a2d;
    color:#ffffff;
}

.form-control:focus{
    border: 1px solid #e21a2d;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.header-padding{
    margin-top: 100px;
}

/************************Header styling****************************/
.navbar-inverse {
    background-color: #e21a2d;
    border-color: #e21a2d;
}

.navbar-inverse .navbar-brand{
    color: #ffffff;
    font-weight: bolder;
    font-size:20px;
}

.header-style>li>a{
    color:#ffffff;
    font-weight: bolder;
    padding: 18px 12px;
}

.header-style>li>a:hover , .header-style>li>a:active , .header-style>li>a:focus{
    color : #ffffff;
    font-size: 16px;
    background-color: #e21a2d; !important;
}

.top-nav {
    padding-right:15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

/*****************Login styling***********************************/
.form-signin {
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input {
    margin-bottom: 20px;
    border-radius: 7px;
}

/***************Register styling****************************/

.radiobutton{
    margin-bottom: 20px;
}

.rdright{
    margin-right: 4px;
}
.adlist1{
    text-align: center;
}

.right-line{
    height: 90vh;
    border-right: 1px solid lightgrey;
    margin-top: -12px;
    padding-top: 10px;
}

/*******************************************/
.right-line1{
    height: 70vh;
    border-right: 2px solid lightgrey;
    margin-top: -12px;
    padding-top: 10px;
}


#mainMenuBar {
    /*background: linear-gradient(to bottom right, #30273a, #8d78a5);*/
    padding: 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    resize: none;
    /*border:1px solid #30273a;*/
    /*box-shadow: 0 0 10px #8d78a5;*/
    border-radius: 15px 15px 15px 15px;
}

#content {
    margin: 0 auto;
    margin-top: 100px; // former 250px
padding: 0;
    width: 750px;
    max-width: 80%;
    padding-bottom: 40px;
    text-align: center;
}