<div class="header-padding" ng-controller="LoginController as model">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>


  <div style="width:600px; margin:0 auto;">
    <md-radio-group layout="row">
        <button type="button" class="btn btn-danger">Previous Semester</button>
        <button type="button" class="btn btn-danger">Current Semester</button>
        <button type="button" class="btn btn-danger">Organization Info</button>
        <button type="button" class="btn btn-danger" disabled>Explore Opportunities</button>
    </md-radio-group>
  </div>

    <h3 style="text-align: center; margin-top: 40px">Explore Opportunities</h3>


    <div style="max-width:-1600px; margin-top: 40px; word-wrap:break-word;margin-bottom: 40px; margin-right: 20px; margin-left: 20px";>
        <p>Provided by: Jose Annunziato</p>
        <p style="font-size: medium" lass="text-justify">Beyond the service role(s) or project(s) you applied for through the RFP, the following list of courses with a
            service-learning component that is a specialized topic or type of project. Please take a moment to glance through
            the list of courses and check the box if you’d like to have an exploratory conversation with the faculty member
            regarding a potential partnership, and use the text box if you have a specific idea based on the course
            information (not required). Checking a box does not commit you in any way, but indicates that you’d like to
            explore some creative possibilities with us.</p>
    </div>


    <div class="container">

        <div class="well">
            <h3>5D Fundamentals: Experience & Drawing</h3>
            <p>Provided by: Jose Annunziato</p>
            <p>This art course explores the language of interactive experience as a compelling medium to communicate
                meaning. Examines how variables within the environment can change how we inhabit an experience
                physically, conceptually, and emotionally. Studies historical and contemporary examples of art
                and design projects designed as exchanges or experiences. Incorporates drawing as a means to
                understand the present and project potential future experiences. Students could assess a user
                experience and produce design solutions. </p>
            <button class="btn btn-default center-block" type="submit">edit content</button>
        </div>
    </div>

    <p style="text-align: center">_______________________________________________________________________</p>

    <div class="container">

        <div class="well">
            <h3>Community Writing</h3>
            <p>Provided by: Mike Weintraub</p>
            <p>This course offers students an opportunity to study and practice writing in community contexts through advocacy writing, service-learning, community research, and/or community publishing. Students will work on an advocacy writing project in collaboration with a partner which
                could include grant application support or other community events. </p>
            <button class="btn btn-default center-block" type="submit">edit content</button>
        </div>
    </div>

    <p style="text-align: center">_______________________________________________________________________</p>

    <div class="container">

        <div class="well">
            <h3>Consumer Behavior (A)</h3>
            <p>Provided by: Rajmohan</p>
            <p>This art course explores the language of interactive experience as a compelling medium to communicate meaning. Examines how variables within the environment can change how we inhabit an experience physically, conceptually, and emotionally. Studies historical and contemporary examples of art and design projects designed as exchanges or experiences. Incorporates drawing as a means to understand the present and project potential future experiences. Students could assess a user experience and produce design solutions. </p>
            <button class="btn btn-default center-block" type="submit">edit content</button>
        </div>

    </div>

    <p style="text-align: center">_______________________________________________________________________</p>
</div>