
<p align="center" class="login-padding">


<p align="center" class="header-padding">
    <a class="btn btn-primary" type="button" href="#/admin/{{model.aid}}/adminPartnerList">
        Partner
    </a>
    <a class="btn btn-primary" type="button" href="#/admin/{{model.aid}}/facultyList">
        Faculty
    </a>
</p>

<div class="container" style="background-color:white">
    <h2 style="color:green;font-weight: 100">{{model.message.note}}</h2>
    <h2>Registration Requests</h2>
    <div class="table-responsive">
        <table class="table table-hover" border="1">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in model.users track by $index">
                <th scope="row">{{$index+1}}</th>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.username}}</td>
                <td><span>{{user.role}}</span>
                <td><span>{{user.status}}</span>
                <td>{{user.createdDate}}</td>
                <td><button ng-if="user.status =='NoStatus'" ng-click="model.activateRejectUser(user,'Approved','0')">Activate</button>
                    <button ng-if="user.status =='NoStatus'" ng-click="model.activateRejectUser(user,'Rejected','1')">Reject</button>
                    <span ng-if="user.status =='Rejected' && !user.reject">Rejected reason : {{user.reason}}</span>
                    <button ng-if="user.status =='Rejected'" ng-show="user.reject" ng-click="model.activateRejectUser(user,'Rejected','2')">Submit</button>
                    <button ng-if="user.status =='Rejected'" ng-show="user.reject" ng-click="model.rejectUserCancel(user,'Rejected','2')">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

