<div class="container-fluid header-padding">
    <div class="row">
        <div class="col-xs col-sm col-md-2 col-lg-2 right-line">
            <ul class="list-group">
                <li  class="list-group-item">
                    <a href="#/admin/{{model.aid}}/partnerDetail/1">
                       <b style="color: #e21a2d">Partner Name</b>
                    </a>
                </li>
                <li  class="list-group-item">
                    <a href="#/admin/{{model.aid}}/partnerDetail/1/allProposals">
                        All Proposals
                    </a>
                </li>
                <li  class="list-group-item">
                    <a href="#/admin/{{model.aid}}/partnerDetail/1/acceptedProposals">
                        Accepted Proposals
                    </a>
                </li>
                <li  class="list-group-item">
                    <a href="#/admin/{{model.aid}}/partnerDetail/1/rejectedProposals">
                        Rejected Proposals
                    </a>
                </li>
                <li  class="list-group-item">
                    <a href="#/admin/{{model.aid}}/partnerDetail/1/underConsiderationProposals">
                        Proposals Under-Consideration
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-11 col-sm-12 col-md-7 col-lg-7">

            <form name="myForm">
                <div class="card-body">
                    <h4 class="card-title" align="center">Partner Name</h4>
                    <p class="card-text" align="center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                        making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search
                        for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).
                    </p>

                </div>
            </form>

        </div>
    </div>
</div>