<!--<div  ng-controller="PartnerListController as model">-->
<div >
<div id="content" >
    <div id="mainBox" class="textBox">
        <div id="mainMenuBar">
            <a href="#/admin/{{model.aid}}/adminPartnerListInProgress" class="btn btn-primary ">In Progress</a>
            <a href="#/admin/{{model.aid}}/adminPartnerList" class="btn btn-primary ">Submitted</a>
            <!--<a class="btn btn-primary ">Login</a>-->
        </div>
    </div>
</div>

    <div style="text-align:center">
        <label style="font-size: 30px">Submitted Applications</label>
    </div>

<div class="container-fluid" style="margin-top: 100px">

    <div class="col-md-2 right-line1">
        <ul class="list-group">

            <li  ng-repeat="partner in model.partners" class="list-group-item">
                <a  href="#/admin/{{model.aid}}/adminPartnerList/{{partner._id}}">{{partner.name}}</a>
                <!--<a  href="'client/views/admin/adminPartnerSpecificProposal.view.html'">{{partner.name}}</a>-->
            </li>
        </ul>

    </div>

    <div class="col-md-4 right-line1">


    </div>

    <div class="col-md-6 right-line1">


    </div>


</div>
</div>