<!DOCTYPE html>
<html lang="en">

<body ng-controller="HeaderController as model">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <a href="#/home" class="navbar-brand">Service Learning@<i>Northeastern University</i></a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav text-nowrap">

        <li><a href="#/login">Login</a></li>

        <li><a ng-show= "currentUser" href="#/home" ng-click="model.logout()">Logout</a></li>
    </ul>

</nav>

</body>
</html>
