<!DOCTYPE html>
<html lang="en">

<body ng-controller="HeaderController as model">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <a href="#/home" class="navbar-brand">Service Learning@<i>Northeastern University</i></a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav text-nowrap" ng-controller="HeaderController as model">

        <!--<li ng-show = "currentUser">
            <a href="#/home"><i class="fa fa-home" aria-hidden="true"> Home</i></a>
        </li>-->

        <li ng-hide = "currentUser"><a href="#/login">
            <i class="fa fa-sign-in" aria-hidden="true"> Log in</i></a>
        </li>

        <li ng-show = "currentUser">
            <a href="#/home" ng-click="model.logout()">
                <i class="fa fa-sign-out" aria-hidden="true"> Log out</i></a>
        </li>
    </ul>

</nav>

</body>
</html>
